name: "Run compile tests"

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.20
      - name: Run compile
        run: |
          make
          gotabitd version --long
